#container {
  width: 80%;

  background-color: rgb(185, 124, 185);
  margin-left: 10%;
  border-style: solid;
  border-color: purple;
}
header {
  background-image: -webkit-linear-gradient(top, white 0%, rgb(138, 138, 201));
  margin-top: -30px;
}

h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 45px;
  text-shadow: 4px 4px rgb(190, 217, 233);
  color: rgb(185, 124, 185);
  font-family: cursive;
}
h1 img {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
}
header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: -30px;
  list-style-type: none;
  height: 40px;
  background-color: white;
}
ul li a {
  text-decoration: none;
  color: rgb(185, 124, 185);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
footer {
  background-color: white;
  margin-bottom: -15px;
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: -30px;
  list-style-type: none;
  height: 40px;
}
footer p {
  color: purple;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: -16px;
  background-color: rgb(138, 138, 201);
  font-family: Arial, Helvetica, sans-serif;
}
footer span {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 7px;
  align-items: center;
  background-color: rgb(138, 138, 201);
  margin-top: -17px;
}
footer span a {
  text-decoration: none;
  color: white;
  padding-right: 7px;
}
footer span a img {
  height: 10px;
  width: 20px;
}
footer p a:visited {
  color: white;
}

@media screen and (max-width: 500px) {
  h1 img {
    width: 287px;
    height: 150px;
  }
  header ul {
    height: auto;
    flex-direction: column;
  }
  header ul li {
    margin-left: -30px;
  }
  ul li a {
    font-size: 3vw;
  }
  footer {
    margin-bottom: unset;
  }
  footer ul {
    padding-right: 37px;
    gap: 3px;
  }

  footer span {
    justify-content: center;
    font-size: 10px;
  }
  footer p {
    margin-top: -1px;
    font-size: 10px;
    margin-bottom: 0px;
  }
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
h1 {
  margin: 0;
  font-weight: normal;
}
h2 {
  font-family: cursive;
}
.main-heading {
  margin: 20px;
  font-weight: 400;
  font-size: 40px;
}
.sub-heading {
  margin: 0;
  font-size: 20px;
}

.center {
  text-align: center;
}

.header {
  height: 5rem;
  color: rgb(55, 10, 77);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(16, 187, 150);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.carousal {
  height: 550px;
  background: url("../images/bodyy.jpg") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.carousal-text {
  color: white;
}
.content {
  margin: 10px 50px;
}
.content-heading {
  font-weight: lighter;
}
.exercise-content {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  margin: 10px;
  background-color: black;
  color: white;
}
.exercise-col {
  width: 50%;
  margin: 0 30px;
  height: 100%;
}
.ecto-image {
  width: 100%;
}
.endo-image {
  width: 100%;
  align-items: left;
}

.meso-image {
  width: 99%;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer {
  padding: 50px 0;
  background-color: black;
  color: white;
}

@media screen and (max-width: 800px) {
  .exercise-content {
    flex-direction: column;
  }
  .content {
    margin: 6px;
  }
  .exercise-col {
    margin: 0;
    width: 100%;
  }
}
